<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Dictionary Server</title>
</head>
<body>
<h1>Schema</h1>
<h3>POST-request</h3>
<p>{<br>
    &ldquo;key&rdquo;: &rdquo;&lt;string:key&gt;&rdquo;,<br>
    &ldquo;value&rdquo;: &lt;number&gt;<br>
    }
</p>
<h3>GET-request</h3>
<p>{<br>
    &ldquo;value&rdquo;: &lt;number&gt;<br>
}
</p>
<h1>Endpoint definitions</h1>
<h3>Post-endpoint</h3>
<p>Url:<p>
&lt;string:host&gt;/save
<p>Sample cURL request:</p>
<code>$ curl --header "Content-Type: application/json" --request POST
     --data '{&quot;key&quot;:&lt;string:key&gt;,&quot;value&quot;:&lt;number&gt;}' http://127.0.0.1:5000/save</code>
<h3>Get-endpoint</h3>
<p>Url:</p>
&lt;string:host&gt;/load/&lt;string:key&gt;

<p>Sample cURL request:</p>
<code>$ curl http://127.0.0.1:5000/load/&lt;string:key&gt;</code>
</body>
</html>